<div class="jumbotron" ng-controller="usersHomePageMidbarController as vm">
    <h1 class="text-center">{{'Dashboard' | translate}}</h1>
    <h4 class="text-center">{{'DashboardMessage' | translate}}</h4>
    <div class="text-center">
        <button type="button" class="btn btn-success text-center" ng-click="vm.goToNewPolls()">{{'CreateNewPolls' | translate}}</button>
        <button type="button" class="btn btn-success text-center" ng-click="vm.goToMyPolls()">{{'ViewYourPolls' | translate}}</button>
        <button type="button" class="btn btn-success text-center" ng-click="vm.goToAllPolls()">{{'ViewAllPolls' | translate}}</button>
    </div>

</div>